body,html{
	height:100%;
	width: 100vw;
}
.mycontainer{
	overflow:hidden;
}

.sidebar{
	max-height: 100vh;
	overflow-y:scroll;
}
.row{
	padding-right: 0;
    padding-left: 0;
	max-height:100vh;
	--bs-gutter-x:0;
}