body,html{
	height:100%;
	width: 100vw;
}
.mycontainer{
	overflow:hidden;
}

.sidebar{
	max-height: 100vh;
	overflow-y:scroll;
}
.row{
	padding-right: 0;
    padding-left: 0;
	max-height:100vh;
	--bs-gutter-x:0;
}
.vehicle-info-body{
	margin-top: 15px;
	margin-left: 10px;
}
.vehicle-info-header{
	margin-top:10px;
}
.bold-text{
	font-weight: bold;
	font-size: 12px;
}
.plain-text{
	font-size: 12px;
}