@charset "UTF-8";
.report-tab {
    width: 150px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 1px;
    background-color: rgb(227, 237, 237);
    text-align: center;
}
body{
	overflow-x: hidden;
}
.card-title{
	font-weight: bold;
	font-size: 1vw;
}
.card-text{
	font-size: 0.9vw;
}
.btn-primary{
	font-size: 0.9vw;
}
.modal-title{
	font-weight: bold;
	font-size: 1vw;
}
.form-outline{
	font-size: 0.8vw;
}
.card{
	padding: 10px;
	transition: 0.3s;
}
.card:hover{
	box-shadow:  10px 10px 10px #0d6efd;
}
.modal-dialog{
	display: flex;
	justify-content: center;
}
.modal-content{
	width: 30vw;
}