<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Dynamic Map Dashboard</display-name>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetVehicleLogServ</display-name>
  	<servlet-name>GetVehicleLogServ</servlet-name>
  	<servlet-class>com.controllers.GetVehicleLogServ</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddRfidServ</display-name>
  	<servlet-name>AddRfidServ</servlet-name>
  	<servlet-class>com.controllers.AddRfidServ</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetMarkerServ</display-name>
  	<servlet-name>GetMarkerServ</servlet-name>
  	<servlet-class>com.controllers.GetMarkerServ</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>dashboard</display-name>
  	<servlet-name>dashboard</servlet-name>
  	<servlet-class>com.view.dashboard</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>reports</display-name>
  	<servlet-name>reports</servlet-name>
  	<servlet-class>com.view.reports</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DailyLog</display-name>
  	<servlet-name>DailyLog</servlet-name>
  	<servlet-class>com.reports.DailyLog</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ReaderLogByDate</display-name>
  	<servlet-name>ReaderLogByDate</servlet-name>
  	<servlet-class>com.reports.ReaderLogByDate</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetVehicleLogServ</servlet-name>
  	<url-pattern>/GetVehicleLogServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddRfidServ</servlet-name>
  	<url-pattern>/AddRfidServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetMarkerServ</servlet-name>
  	<url-pattern>/GetMarkerServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>dashboard</servlet-name>
  	<url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>reports</servlet-name>
  	<url-pattern>/reports</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DailyLog</servlet-name>
  	<url-pattern>/DailyLog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReaderLogByDate</servlet-name>
  	<url-pattern>/ReaderLogByDate</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>