<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>Dynamic Map Dashboard</display-name>
	<servlet>
		<description>
  	</description>
		<display-name>GetVehicleLogServ</display-name>
		<servlet-name>GetVehicleLogServ</servlet-name>
		<servlet-class>com.controllers.GetVehicleLogServ</servlet-class>
	</servlet>
	<servlet>
		<description>
  	</description>
		<display-name>AddRfidServ</display-name>
		<servlet-name>AddRfidServ</servlet-name>
		<servlet-class>com.controllers.AddRfidServ</servlet-class>
	</servlet>
	<servlet>
		<description>
  	</description>
		<display-name>GetMarkerServ</display-name>
		<servlet-name>GetMarkerServ</servlet-name>
		<servlet-class>com.controllers.GetMarkerServ</servlet-class>
	</servlet>
	<servlet>
		<description>
  	</description>
		<display-name>dashboard</display-name>
		<servlet-name>dashboard</servlet-name>
		<servlet-class>com.view.dashboard</servlet-class>
	</servlet>
	<servlet>
		<description>
  	</description>
		<display-name>reports</display-name>
		<servlet-name>reports</servlet-name>
		<servlet-class>com.view.reports</servlet-class>
	</servlet>
	<servlet>
		<description>
  	</description>
		<display-name>DailyLog</display-name>
		<servlet-name>DailyLog</servlet-name>
		<servlet-class>com.reports.DailyLog</servlet-class>
	</servlet>
	<servlet>
		<description>
  	</description>
		<display-name>ReaderLogByDate</display-name>
		<servlet-name>ReaderLogByDate</servlet-name>
		<servlet-class>com.reports.ReaderLogByDate</servlet-class>
	</servlet>
	<servlet>
		<description>
  	</description>
		<display-name>ReaderLogByDateRange</display-name>
		<servlet-name>ReaderLogByDateRange</servlet-name>
		<servlet-class>com.reports.ReaderLogByDateRange</servlet-class>
	</servlet>
	<servlet>
		<description>
  	</description>
		<display-name>DailyLogByDateRange</display-name>
		<servlet-name>DailyLogByDateRange</servlet-name>
		<servlet-class>com.reports.DailyLogByDateRange</servlet-class>
	</servlet>
	<servlet>
		<description>
  	</description>
		<display-name>VehicleLogByDate</display-name>
		<servlet-name>VehicleLogByDate</servlet-name>
		<servlet-class>com.reports.VehicleLogByDate</servlet-class>
	</servlet>
	<servlet>
		<description>
  	</description>
		<display-name>VehicleLogByDateRange</display-name>
		<servlet-name>VehicleLogByDateRange</servlet-name>
		<servlet-class>com.reports.VehicleLogByDateRange</servlet-class>
	</servlet>
	<servlet>
		<description>
  	</description>
		<display-name>ReaderActivityLogByDate</display-name>
		<servlet-name>ReaderActivityLogByDate</servlet-name>
		<servlet-class>com.reports.ReaderActivityLogByDate</servlet-class>
	</servlet>
	<servlet>
		<description>
  	</description>
		<display-name>ReaderActivityLogByDateRange</display-name>
		<servlet-name>ReaderActivityLogByDateRange</servlet-name>
		<servlet-class>com.reports.ReaderActivityLogByDateRange</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>VehicleActivityLogByDate</display-name>
		<servlet-name>VehicleActivityLogByDate</servlet-name>
		<servlet-class>com.reports.VehicleActivityLogByDate</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>VehicleAttendanceByDate</display-name>
		<servlet-name>VehicleAttendanceByDate</servlet-name>
		<servlet-class>com.reports.VehicleAttendanceByDate</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>VehicleActivityLogByDateRange</display-name>
		<servlet-name>VehicleActivityLogByDateRange</servlet-name>
		<servlet-class>com.reports.VehicleActivityLogByDateRange</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>VehicleAttendanceByDateRange</display-name>
		<servlet-name>VehicleAttendanceByDateRange</servlet-name>
		<servlet-class>com.reports.VehicleAttendanceByDateRange</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Regulator</display-name>
		<servlet-name>Regulator</servlet-name>
		<servlet-class>com.controllers.Regulator</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>services</display-name>
		<servlet-name>services</servlet-name>
		<servlet-class>com.view.services</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetVehicleInfo</display-name>
		<servlet-name>GetVehicleInfo</servlet-name>
		<servlet-class>com.controllers.GetVehicleInfo</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>alerts</display-name>
		<servlet-name>alerts</servlet-name>
		<servlet-class>com.view.alerts</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MostUsedReaderAlert</display-name>
		<servlet-name>MostUsedReaderAlert</servlet-name>
		<servlet-class>com.alerts.MostUsedReaderAlert</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LeastUsedReaderAlert</display-name>
		<servlet-name>LeastUsedReaderAlert</servlet-name>
		<servlet-class>com.alerts.LeastUsedReaderAlert</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ToggleDebugServ</display-name>
		<servlet-name>ToggleDebugServ</servlet-name>
		<servlet-class>com.controllers.ToggleDebugServ</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetVehicleLogServ</servlet-name>
		<url-pattern>/GetVehicleLogServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddRfidServ</servlet-name>
		<url-pattern>/AddRfidServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetMarkerServ</servlet-name>
		<url-pattern>/GetMarkerServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dashboard</servlet-name>
		<url-pattern>/dashboard</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>reports</servlet-name>
		<url-pattern>/reports</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DailyLog</servlet-name>
		<url-pattern>/DailyLog</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReaderLogByDate</servlet-name>
		<url-pattern>/ReaderLogByDate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReaderLogByDateRange</servlet-name>
		<url-pattern>/ReaderLogByDateRange</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DailyLogByDateRange</servlet-name>
		<url-pattern>/DailyLogByDateRange</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VehicleLogByDate</servlet-name>
		<url-pattern>/VehicleLogByDate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VehicleLogByDateRange</servlet-name>
		<url-pattern>/VehicleLogByDateRange</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReaderActivityLogByDate</servlet-name>
		<url-pattern>/ReaderActivityLogByDate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReaderActivityLogByDateRange</servlet-name>
		<url-pattern>/ReaderActivityLogByDateRange</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VehicleActivityLogByDate</servlet-name>
		<url-pattern>/VehicleActivityLogByDate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VehicleAttendanceByDate</servlet-name>
		<url-pattern>/VehicleAttendanceByDate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VehicleActivityLogByDateRange</servlet-name>
		<url-pattern>/VehicleActivityLogByDateRange</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VehicleAttendanceByDateRange</servlet-name>
		<url-pattern>/VehicleAttendanceByDateRange</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Regulator</servlet-name>
		<url-pattern>/Regulator</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>services</servlet-name>
		<url-pattern>/services</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetVehicleInfo</servlet-name>
		<url-pattern>/GetVehicleInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>alerts</servlet-name>
		<url-pattern>/alerts</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MostUsedReaderAlert</servlet-name>
		<url-pattern>/MostUsedReaderAlert</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LeastUsedReaderAlert</servlet-name>
		<url-pattern>/LeastUsedReaderAlert</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ToggleDebugServ</servlet-name>
		<url-pattern>/ToggleDebugServ</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
</web-app>